body {
    font-family: Montserrat;
    background-image: url("image.jpeg");
    background-size: cover;
 }
 
 h1 {
    text-align: center;
    color: rgb(0, 252, 25);
 }
p{
    text-align: center;
    color: #138808;
 }
 .defcol{
   color: yellow;
   
 }
 

 .bgcc{
    background-color: #f40808;
    color: #ffffff;
 }
 #sliderText {
    margin: 1.8%;
    font-size: 1.6em;
    color: #ffdd00;
 }
 
 .btn {
    margin-left: 2px;
    margin-right: 2px;
 }
 #sortingDesicription{
   color: #ffffff;
 }


 
 
 .bar {
    background: linear-gradient(#FF9933, #ffffff,#138808);
    width: 28px;
    display: inline-block;
    margin: 0 0.1%;
 }
 
 #bars {
    width: 80%;
    height: 26em;
    position: relative;
    margin: 5% auto;
 }
 .sortInfo{
   color: var(--primary-color);
   display: flex;
   flex-flow: row wrap;
   margin-left: 17%;
 }
 main{
   display: block;
   font-family: 'Sora', sans-serif;
 }
 .sortInfoArticle{
     width: 55ch;
     padding-right: 5ch;
 }
 .sortInfoAside{
   padding-left: 5ch;
   border-left: 1px solid #3a3a3c;
 }
 .sortingDesicription{
     text-align: left;
     width: 80%;
     max-width: 1200px;
     padding: 1rem;
     margin: 0 auto;
 }